@import "tailwindcss";

@theme {
  --breakpoint-xs: 35rem;
  --breakpoint-xxs: 30rem;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-spinner::-webkit-outer-spin-button, .no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}


body {
  background: #f7f7f7;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", Helvetica, sans-serif;
  overflow: auto;
}

@keyframes slide-up {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 1s ease-out forwards;
}
